@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

p, ul, a {
    font-family: Nunito;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

#all {
    width: 100%;
    z-index: 0;
    background: linear-gradient(180deg, rgba(41,52,62,1) 38%, rgb(15, 15, 41) 100%);
}

#imhead {
    height: 750px;
    width: 100%;
}

#maint{
    width:1650px;
    height: 800px;
    z-index: 1;
    float: right;
}

#list {
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(90deg, #15173c,#2375ef);
    z-index: 10;
}

#listul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: right;
    padding-right: 200px;
    padding-top: 32px;
    width: 900px;
}

.menu {
    font-size: 150%;
    margin-bottom: 10px;
}

.menu:hover {
    border-bottom: 5px solid orange;
    height: 40px;
    transition: all 0.5s;
}

#block{
    position: absolute;
    background-color:rgba(41,52,62,1);
    height: 300px;
    width: 280px;
    margin-left: 0;
}

#logo{
    position: absolute;
    width: 180px;
    z-index: 2;
    margin-top: 40px;
    padding-left: 43px;
}

#port{
    width:1650px;
    z-index: 1;
    float: right;
    opacity: 70%;
}

#left1 {
    z-index: 1;
    padding-top: 30px;
    height: 700px;
    padding-left: 65px;
}

#first{
    float: right;
    color: aliceblue;
    font-weight: 700;
    position: absolute;
    z-index: 2;
    padding-top: 350px;
    padding-left: 1200px;
    font-size: 80px;
}

#secondsud{
    float: right;
    color: aliceblue;
    font-weight: 700;
    position: absolute;
    z-index: 2;
    padding-top: 435px;
    padding-left: 720px;
    font-size: 60px;
}

#third{
    float: right;
    color: aliceblue;
    font-weight: 300;
    position: absolute;
    z-index: 2;
    padding-top: 510px;
    padding-left: 700px;
    font-size: 15px;  
    text-align: right;
    padding-right: 120px;
}

#podrobno {
    float: right;
    color: rgb(0, 0, 0);
    font-weight: 500;
    position: absolute;
    z-index: 2;
    margin-top: 590px;
    margin-left: 1330px;
    font-size: 30px;  
    text-align: center;
    height: 60px;
    width: 200px;
    background-color: orange;
    border-radius: 20px;
    line-height: 58px;
}

header {
    display: flex;
    justify-content: flex-end; /* Выравнивание вправо для флажков */
    padding: 10px;
    background-color: #f8f8f8;
}

.language-selector {
    display: flex;
    gap: 10px; /* Промежуток между флажками */
}

.flag {
    height: 20px;
    cursor: pointer;
}
